<h1>Health Tracker</h1>

<h1>Steps Traveled This Month: <%= @steps_traveled %> Steps</h1>

<h1> Number of times Weighed: <%= @weight_count %></h1>

<h1> Calorie Difference: <%= @calorie_dif %></h1>

<h1>Calorie Consumed: <%= @cal_total %></ </h1>

<h1>Calorie Burned: <%= @cal_burn %></h1>
