<p id="notice"><%= notice %></p>

<p>
  <strong>Lbs:</strong>
  <%= @weight.lbs %>
</p>

<p>
  <strong>Weigh date:</strong>
  <%= @weight.weigh_date %>
</p>

<%= link_to 'Edit', edit_weight_path(@weight) %> |
<%= link_to 'Back', weights_path %>
