<!DOCTYPE html>
<html>
<head>
  <title>HealthTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>

    <p class="headnav">
        <%= link_to 'Home', root_path %> </br></p>
    <p class="headnav">
      <%= link_to 'Weight', weights_path %> </br></p>
    <p class="headnav">
        <%= link_to 'Calories Consumed', consumed_cals_path %> </br></p>
    <p class="headnav">
      <%= link_to 'Excercises', excercises_path %> </br></p>
    <p class="headnav">
      <%= link_to 'Steps', excercises_path %></br></p>
</div>
<%= yield %>

</body>
</html>
